<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no"> -->
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="header">
        <div class="title">Vanilla<br>Meetup</div>
    </div>

    <div class="intro"></div>

    <div class="content"> 
        <div class="googleMap">
            <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
            <div id="map"></div>
            <div id="infowindow-content">
                <span id="place-name" class="title"></span>
            </div>    
        </div>
        <div class="info"></div>
    </div>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-AnmcygmTHbh-T82HgX2pTEXkhkWaM00&libraries=places"></script>
</body>
</html>
