// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
@font-face { font-family: 'SeoulHangangM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff'); font-weight: normal; font-style: normal; }

$point: #da5252;


html, body {
    font-family: 'Sarabun', 'SeoulHangangM';
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #21232c;
    padding: 0 20px;
    display: flex;
    align-items: center;
    // border-bottom: 1px solid rgba(0, 0, 0, .5);

    
    .title {
        // border: 1px solid red;
        display: flex;
        
        font-family: 'Kaushan Script', cursive;
        color: #fff;
        font-size: 25px;
        line-height: 22px;
        text-align: center;
       
    }
}

.intro {
    // background-color: powderblue;
    width: 100%;
    // height: 100px;
}

.content {
    // border: 5px solid orange;
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    height: 640px;
}


.googleMap{
    // border: 3px solid orange;
    // width: 60%;
    // height: calc(100% - 150px);
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, .2);
    float: left;
}

#map {
    height: 100%;
    width: 100%;
    position: relative;
}




.controls {
    margin-left: 30px;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, .2);
    transform: translateX(-17px);
    font-family: 'Sarabun', 'SeoulHangangM';
}  

.w60 {
    width: 60%;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

.info-list {
    flex-direction: column;

}

.info-favorites {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info {
    // box-sizing: none;
    display: flex;
    // width: 40%;
    height: 100%;
    // height: 1000px;
    // overflow: hidden;
    overflow-y: scroll; 
    align-items: flex-start;
    // background-color: yellow;
    // width: 100px;
    // height: 100px;
    // float: left;
    .setting {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-shrink: 0;
        width: 100%;
        height: 50px;
        // background-color: pink;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        i {
            margin-right: 20px;
            cursor: pointer;
            &:hover {
                color: $point;
                // transition: color .3s;
            }
        }
        i:nth-child(1) {
            font-size: 28px;
        }
        i:nth-child(2) {
            font-size: 30px;
        }
    }
}

.event {
    display: flex;
    
    flex-shrink: 0;
    align-items: center;
    width: 100%;
    // height: 150px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 15px 25px;
    > div:nth-child(1) {
        width: 25%;
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 0 10px;
        // margin-right: 15px;
        word-break: break-all;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 2px solid blue;
            width: 80px;
            height: 80px;
            overflow: hidden;
            border-radius: 50%;
            text-align: center;
            margin-bottom: 10px;
            img {
                display: block;
                margin: auto;
                max-width: 100%;
                height: auto;
            }
        }
        span {
            // background-color: pink;
            text-align: center;

        }
    }
    > div:nth-child(2) {
        // border: 1px solid blue;
        width: 70%;
        margin: 0 15px;
        span {
            display: block;
            word-break: break-all;

        }
        span:nth-child(1) {
            // border: 1px solid green;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    > div:nth-child(3) {
        // border: 1px solid red;
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
        span:nth-child(1) {
            font-weight: 700;
            font-size: 23px;
            margin-bottom: 10px;
        }
        // span:nth-child(2) {
        //     font-size: 13px;
        //     margin-bottom: 3px;
        // }       
        > div:nth-child(2) {
            img {
                width: 50px;
                // border: 1px solid red;
                cursor: pointer;
                // &:hover {
                //     animation: spin .5s ease;
                // }
            }
        }
        > div:nth-child(3) {
            border: 1px solid #000;
            padding: 3px 9px 4px 9px;
            font-size: 15px;
            cursor: pointer;
            &:hover {
                border: 1px solid $point;
                color: $point;
            }
        }
    }
}

.noResult {
    border: 1px solid green;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.fav {
    width: 42%;
    // height: 50px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    > div:nth-child(1) {
        width: 90%;
        // border: 1px solid blue;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        position: relative;
        // padding-bottom: 10px;
        img:nth-child(1) {
            width: 100%;
            display: block;
            margin-bottom: 10px;
        }
        > div {
            position: absolute;
            // border: 1px solid blue;
            left: 0;
            top: 0;
            width: 100%;
            height: calc(100% - 10px);
            padding: 10px;
            display: flex;
            align-items: flex-end;
            background-color: rgba(0, 0, 0, .3);
            span {
                // position: absolute;
                // border: 1px solid yellow;
                bottom: 0;
                color: #fff;
                font-size: 20px;
                word-break: break-all;
            }
        }
        img:nth-child(3) {
            position: absolute;
            width: 30px;
            right: 0;
            top: 0;
            color: #fff;
            // display: none;
        }
    }
    > div:nth-child(2) {
        margin: 10px 0 8px 0;
        color: #222;
        // border: 1px solid green;
        width: 90%;
        padding-left: 2px;
        // display: flex;
        // flex-direction: column;
        span:nth-child(1), span:nth-child(5) {
            color: #777;
            font-size: 12px;
            margin-right: 2px;
        }
        span:nth-child(2) {
            font-size: 18px;
            // border: 1px solid orange;
        }
        span:nth-child(4) {
            margin-right: 2px;
        }
    }
}

.add-event {
    transform: rotate(135deg);
    transition: transform .2s ease-in-out;
    // animation: spin .5s ease;
}

.remove-event {
    transform: rotate(0);
    transition: transform .2s ease-in-out;
}

@keyframes spin {
    // 0% {transform: rotate(0deg);}
    100% {transform: rotate(45deg);}
}

.selected {
    color: $point;
}

.grey {
    color: #777;
}

.show-list {
    i:nth-child(1) {
        color: $point;
    }
    i:nth-child(2) {
        color: #777;
    }
}

.show-favorites {
    i:nth-child(1) {
        color: #777;
    }
    i:nth-child(2) {
        color: $point;
    }
}
