// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/

@import '_utils.scss';
@import '_events.scss';
@import '_favorites.scss';


html, body {
    font-family: 'Sarabun', 'SeoulHangangM';
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #21232c;
    padding: 0 20px;
    display: flex;
    align-items: center;
    // border-bottom: 1px solid $bk5;

    
    .title {
        // border: 1px solid red;
        display: flex;
        
        font-family: 'Kaushan Script', cursive;
        color: #fff;
        font-size: 25px;
        line-height: 22px;
        text-align: center;
       
    }
}

.intro {
    // background-color: powderblue;
    width: 100%;
    // height: 100px;
}

.content {
    // border: 5px solid orange;
    border-top: 1px solid $bk2;
    border-bottom: 1px solid $bk2;
    width: 100%;
    height: 640px;
}

.googleMap{
    // border: 3px solid orange;
    // width: 60%;
    // height: calc(100% - 150px);
    height: 100%;
    border-right: 1px solid $bk2;
    float: left;
    transition: all .3s;
}

#map {
    height: 100%;
    width: 100%;
    position: relative;
}


.controls {
    margin-left: 30px;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    box-shadow: 2px 3px 2px $bk2;
    transform: translateX(-17px);
    font-family: 'Sarabun', 'SeoulHangangM';
}  


.info-list {
    flex-direction: column;
}

.info-favorites {
    flex-wrap: wrap;
    // justify-content: space-evenly;
    align-content: flex-start;
    > div:nth-child(1) {
        margin-bottom: 27px;
    }
}

.info {
    // box-sizing: none;
    display: flex;
    align-items: flex-start; // or center;
    // width: 40%;
    height: 100%;
    // height: 1000px;
    // overflow: hidden;
    overflow-y: scroll; 
    // background-color: yellow;
    float: left;
    transition: all .3s;
    .setting {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        width: 100%;
        height: 50px;
        // background-color: pink;
        border-bottom: 1px solid $bk2;
        padding: 0 20px;
        > div {
            // border: 1px solid red;
            display: flex;
            align-items: center;
            color: $bk8;
        }
        i {
            cursor: pointer;
            &:hover {
                color: $point;
                // transition: color .3s;
            }
        }
        div:nth-child(1) {
            i {
                font-size: 30px;
                margin-right: 7px;
            }
        }
        div:nth-child(2) {
            i {
                font-size: 28px;
                margin-left: 7px;
            }
            > div {
                // border: 1px solid blue;
                display: flex;
                justify-content: flex-end;
                position: relative;
                height: 20px;
                width: 20px;
                
                overflow: hidden;
                div {
                    // border: 1px solid orange;
                    position: absolute;
                    // top: -24px;
                    height: 30px;
                    text-align: right;
                }
            }
        }
    }
}

.blank {
    height: 0;
    width: 100%;
    transition: all 1s ease-in;
    // background-color: powderblue;
}

.blank-full {
    height: calc(100% - 50px);
    flex-shrink: 0;
}

.noResult {
    // border: 1px solid green;
    width: 100%;
    text-align: center;
    padding: 50px;
    font-size: 20px;
}

.add-event {
    transform: rotate(135deg);
    transition: transform .2s ease-in-out;
    // animation: spin .5s ease;
}

.remove-event {
    transform: rotate(0);
    transition: transform .2s ease-in-out;
}


.show-list {
    div:nth-child(1) {
        i {
            color: $point;
        }
    }
    div:nth-child(2) {
        i {
            color: #777;
        }
    }
}

.show-favorites {
    div:nth-child(1) {
        i {
            color: #777;
        }
    }
    div:nth-child(2) {
        i {
            color: $point;
        }
    }
}

